
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Pimp my Carroça </h1>

  <p>Agora você pode colaborar com um espaço mais sustentavel e com os catadores de material
  reciclavel da sua região!</p>
  <p><a href="#" class="btn btn-primary btn-large">Saiba como &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-plus"></i>Colabore</h2>
      <p>Conhece um catador? Então ajude a melhorar a base de dados inserindo informações úteis! =)</p>
      <p><a class="btn btn-default" href="{{url_for('catador.catadores')}}">Cadastrar Catador</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-list-alt"></i> Lista total</h2>
      <p>Consutlar a lista total de catadores cadastrados.</p>
      <p><a href="{{url_for('catador.catadores_lista')}}" class="btn btn-default" href="#">Consultar &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-map-marker"></i> Catadores da sua região</h2>
      <p>Utilizando Maps, você pode ver quais são os catadores da sua região!.</p>
      <p><a href="{{url_for('catador.catadores_regiao')}}" class="btn btn-default" >Ver Mapa &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

