{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container-narrow">
  <h1>Catadores cadastrados</h1>
    <br/>
    <table class="table table-hover">
      <thead>
      	<th>Nome</th>
      	<th>Telefone</th>
      	<th>Endereço</th>
      </thead>
      <tbody>
      	{% for catador in catadores %}
      		<tr>
      			<td>
      				{{catador.nome}}
      			</td>
      			<td>
      				{{catador.telefone}}
      			</td>
      			<td>
      				{{catador.endereco}}
      			</td>
      		</tr>
      	{% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
